#pagina{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .flex-container {

        
  
      display: flex;
      
      justify-content: center; 
      align-items: stretch; 
      /* flex-flow: column; */ 
      flex-direction: column;  
  
    
      height: 100%;
      padding: 15px;
      gap: 5px;
      width: 50%;

      border-radius: 10px;
      background-color: rgb(218, 210, 210);
  
    }

.form-img{
    margin-top: 10px;
    display: flex;
      
    justify-content: center; 
    align-items: stretch; 
    /* flex-flow: column; */ 
    flex-direction: column;  

  
    height: 100%;
    padding: 15px;
    gap: 5px;
    width: 50%;

    border-radius: 10px;
    background-color: rgb(218, 210, 210);

}
   