.tutti-servizzi-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container-card-servizzi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1450px;
}

.col-sm{
    position: relative;
    width: 26%;
    height: 100%;
    max-height: 430px;
    border-radius: 5px;
    overflow: hidden;
    color: rgb(24, 173, 149);
    gap: 10px;
    margin: 20px 0;
}



.card{
    border-radius: 10px;
}

.card:hover {
    border: 1px solid blue;
}
.card-title{
    font-size: 22px;
    margin: 3% 0;
}

.card-text{
    font-size: 19px;
    margin: 1% 0;
}

h2{
    font-size: 48px;
    font-weight: 600;
    color: rgb(24, 173, 149);
}

a{
    text-decoration: none;
    color: rgb(24, 173, 149);
    font-size: 17px;
}